*, *:after, *:before {
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}


body {
    background-color: #242a2c;
    min-width: 1024px;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.logo {
    display: inline-block;
    margin-left: 70px;
    text-decoration: none;
    height: 50px;
}
    .logo__img {
        display: inline-block;
        margin-right: 10px;
    }
    .logo__text {
        font-family: "BERNIER-Shade", sans-serif;
        color: white;
        font-size: 32px;
    }

.header {
    height: 95px;
    padding-top: 45px;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    margin-bottom: 30px;
}
    .header__sub {
        height: 50px;
        line-height: 50px;
        background-color: rgba(0,0,0,0.8);
    }


.header-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 0;
    vertical-align: top;
}
    .header-nav__item {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 50px;
    }
    .header-nav__link {
        font-family: "Roboto-Bold", sans-serif;
        font-size: 13px;
        color: #fff;
        display: inline-block;
        padding: 0 10px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        transition: all 0.3s ease;
    }
        .header-nav__link:hover {
            background-color: white;
            color: black;
        }
        .header-nav__link.active {
            font-family: "Roboto-Thin", sans-serif;
        }

.header-credits {
    color: #8adbcc;
    display: inline-block;
    float: right;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease;
    height: 50px;
    font-size: 13px;
    font-family: "Roboto-Bold", sans-serif;
}

.header-credits:hover {
    border-bottom: 2px solid white;
}
    .header-credits__label {
        display: inline-block;
    }
    .header-credits__value {
        display: inline-block;
    }
    .header-credits__icon {
        vertical-align: middle;
        display: inline-block;
    }


.header-settings {
    float: right;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease;
    height: 50px;
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
.header-settings:hover {
    border-bottom: 2px solid white;
}
    .header-settings__label {
        font-family: "Roboto-Thin", sans-serif;
        font-size: 13px;
        vertical-align: middle;
    }
    .header-settings__icon {
        vertical-align: middle;
    }

.aside {
    float: left;
    width: 160px;
    padding-top: 10px;
}
    .aside__username {
        font-family: "Roboto-Thin", sans-serif;
        font-size: 17px;
        color: white;
        height: 40px;
        border-bottom: 1px solid white;
        text-align: right;
        padding-right: 20px;
    }

.aside-menu {
    padding: 0;
    margin: 0;
}
    .aside-menu__block {
        padding: 0;
    }
        .aside-menu__block:nth-child(even) {
            background-color: #1D2021;
        }
        .aside-menu__block:nth-child(odd) {
            background-color: #000000;
        }
    .aside-menu__header {
        display: block;
        font-size: 16px;
        color: white;
        font-family: "Roboto-Light", sans-serif;
        cursor: pointer;
        padding: 15px 20px;
        text-align: right;
        border-bottom: 1px solid transparent;
        transition: border 0.3s ease;
    }
        .aside-menu__header:hover, .aside-menu__header.active {
            font-family: "Roboto-Bold", sans-serif;
        }
        .aside-menu__header:hover {
            border-bottom: 1px solid white;
        }
        .aside-menu__header--label {
            color: #3ACBB2;
        }

    .aside-menu__list {
        display: none;
        padding-bottom: 10px;
    }
    .aside-menu__item {
        display: block;
        text-align: right;
        padding: 10px 20px;
        font-family: "Roboto-Light", sans-serif;
        font-size: 14px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
        .aside-menu__item:hover, .aside-menu__item.active {
            font-family: "Roboto-Bold", sans-serif;
        }
    .general {
        float: left;
        margin-left: 25px;
        width: calc(1024px - 185px);
    }
        .general-heading {
            border-bottom: 2px solid white;
            padding:5px 0;
        }
        .general-heading__bandname {
            float: left;
            font-size: 28px;
            color: white;
            font-family: "Roboto-Bold", sans-serif;
        }
        .general-heading__general {
            float: right;
            color: white;
            position: relative;
            top: 15px;
            font-size: 14px;
            font-family: "Roboto-Bold", sans-serif;
        }