*, *:after, *:before {
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}


body {
    background-color: #242a2c;
    min-width: 1024px;
    font-family: "Roboto-Light", sans-serif;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.logo {
    display: inline-block;
    margin-left: 70px;
    text-decoration: none;
    height: 50px;
}
    .logo__img {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }

.header {
    height: 95px;
    padding-top: 45px;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    margin-bottom: 30px;
}
    .header__sub {
        height: 50px;
        line-height: 50px;
        background-color: rgba(0,0,0,0.8);
    }
    .header__dropdown-icon {
        vertical-align: baseline;
    }


.header-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 0;
    vertical-align: top;
}
    .header-nav__item {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 50px;
        position: relative;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        cursor: pointer;
    }
        .header-nav__item:hover {
            border-bottom: 2px solid white;
        }
        .header-nav__item .header__dropdown-icon {
            transition: transform 0.3s ease;
            transform: rotate(0deg);
        }
        .header-nav__item.active .header__dropdown-icon{
            transform: rotate(180deg);
        }
    .header-nav__link {
        font-family: "Roboto-Bold", sans-serif;
        font-size: 13px;
        color: #fff;
        display: inline-block;
        padding: 0 10px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        text-decoration: none;

    }


.header-credits {
    color: #8adbcc;
    display: inline-block;
    float: right;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease;
    height: 50px;
    font-size: 13px;
    font-family: "Roboto-Bold", sans-serif;
    cursor: pointer;
}

.header-credits:hover {
    border-bottom: 2px solid white;
}
    .header-credits__label {
        display: inline-block;
    }
    .header-credits__value {
        display: inline-block;
    }
    .header-credits__icon {
        vertical-align: middle;
        display: inline-block;
    }


.header-settings {
    float: right;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease;
    height: 50px;
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
.header-settings:hover {
    border-bottom: 2px solid white;
}
    .header-settings__label {
        font-family: "Roboto-Thin", sans-serif;
        font-size: 13px;
        vertical-align: middle;
    }
    .header-settings__icon {
        vertical-align: middle;
    }

.header-dropdown {
    display: none;
    position: absolute;
    z-index: 5;
    min-width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.8);
}
    .header-dropdown__item {
        display: block;
        width: auto;
        height: auto;
    }
    .header-dropdown__link {
        font-size: 13px;
        color: white;
        font-family: "Roboto-Light", sans-serif;
        display: block;
        text-decoration: none;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }
        .header-dropdown__link:hover,
        .header-dropdown__link.active{
            font-family: "Roboto-Bold", sans-serif;
        }

.aside {
    float: left;
    width: 160px;
    padding-top: 10px;
}
    .aside__username {
        font-family: "Roboto-Thin", sans-serif;
        font-size: 17px;
        color: white;
        height: 40px;
        border-bottom: 1px solid white;
        text-align: right;
        padding-right: 20px;
    }

.aside-menu {
    padding: 0;
    margin: 0;
}
    .aside-menu__block {
        padding: 0;
    }
        .aside-menu__block:nth-child(even) {
            background-color: #1D2021;
        }
        .aside-menu__block:nth-child(odd) {
            background-color: #000000;
        }
    .aside-menu__header {
        display: block;
        font-size: 16px;
        color: white;
        font-family: "Roboto-Light", sans-serif;
        cursor: pointer;
        padding: 15px 20px;
        text-align: right;
        border-bottom: 1px solid transparent;
        transition: border 0.3s ease;
    }
        .aside-menu__header:hover, .aside-menu__header.active {
            font-family: "Roboto-Bold", sans-serif;
        }
        .aside-menu__header:hover {
            border-bottom: 1px solid white;
        }
        .aside-menu__header--label {
            color: #3ACBB2;
        }

    .aside-menu__list {
        display: none;
        padding-bottom: 10px;
    }
    .aside-menu__item {
        display: block;
        text-align: right;
        padding: 10px 20px;
        font-family: "Roboto-Light", sans-serif;
        font-size: 14px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
        .aside-menu__item:hover, .aside-menu__item.active {
            font-family: "Roboto-Bold", sans-serif;
        }
.general {
    float: left;
    margin-left: 25px;
    width: calc(1024px - 210px);
}
.general-heading {
    border-bottom: 2px solid white;
    padding:5px 0;
    margin-bottom: 65px;
}
    .general-heading__bandname {
        float: left;
        font-size: 28px;
        color: white;
        font-family: "Roboto-Bold", sans-serif;
    }
    .general-heading__general {
        float: right;
        color: white;
        position: relative;
        top: 15px;
        font-size: 14px;
        font-family: "Roboto-Bold", sans-serif;
    }

.soundMobsMap {
    width: 440px;
    height: 295px;
    position: relative;
    float: left;
}
    .soundMobsMap__popup {
        font-size: 8px;
        font-family: "Roboto-Light", sans-serif;
        color: white;
        text-align: center;
        padding: 5px;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: -70px;
        left: -20px;
    }
    .soundMobsMap__arrow {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: rgba(0,0,0,0.8) transparent transparent transparent;
    }

.soc-media {
    float: left;
    width: 32%;
    padding-right: 2%;
}
    .soc-media__header {
        font-family: "Roboto-Bold", sans-serif;
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .soc-media__scene {
        margin-left: 35px;
        position: relative;
    }
    .soc-media__total-num {
        color: #3ACBB2;
        font-size: 41px;
        font-family: "Roboto-Bold", sans-serif;
        text-align: center;
    }
    .soc-media__total-people {
        color: #ffffff;
        font-size: 20px;
        font-family: "Roboto-Bold", sans-serif;
        text-align: center;
    }

.sm-block {
    position: absolute;
    display: inline-block;
    font-family: "Roboto-Bold", sans-serif;
}
.sm-block--pics {
    top: 50px;
    left: 50px;
}
.sm-block--fb {
    top: 0;
    left: -10px;
}
.sm-block--tw {
    top: 30px;
    left: 130px;
}
.sm-block--sc {
    top: 70px;
    left: -20px;
}
.sm-block--vk {
    top: 100px;
    left: 130px;
}
    .sm-block__label {
        font-size: 12px;
        color: white;
    }
    .sm-block__text {
        line-height: 1;
    }
    .sm-block__count {
        display: inline-block;
        color: #3ACBB2;
        font-size: 13px;
    }
    .sm-block__people {
        display: inline-block;
        color: white;
        font-size: 8px;
    }

.mus-profile {
    float: left;
    width: 35%;
    padding-right: 2%
}
    .mus-profile__header {
        font-family: "Roboto-Bold", sans-serif;
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .mus-profile__scene {
        font-size: 0;
    }
    .mus-profile__item {
        display: inline-block;
        width: 33%;
        vertical-align: top;

    }
    .mus-profile__chart {
        margin-bottom: 5px;
    }
    .mus-profile__label {
        color: white;
        font-size: 12px;
        display: block;
        height: 40px;
    }
    .mus-profile__count {
        display: inline;
    }
        .mus-profile__count:after {
            content:'%';
            display: inline-block;
            font-size: 12px;
            color: white;
        }
    .mus-profile__genre {
        display: inline;
    }

.sndmobs-widget {
    float: left;
    width: 33%;
}
    .sndmobs-widget__header {
        font-family: "Roboto-Bold", sans-serif;
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .sndmobs-widget__block {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 2px dashed #8E8E8E;
    }
    .sndmobs-widget__subheader {
        font-size: 12px;
        color: white;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .sndmobs-widget__content {
        margin-left: 25px;
    }
    .sndmobs-widget__place {
        margin-bottom: 5px;
    }
    .sndmobs-widget__scene-place {
        display: inline-block;
        font-size: 14px;
        font-family: "Roboto-Bold", sans-serif;
        color: white;
    }
    .sndmobs-widget__city {
        color: white;
        font-size: 14px;
        display: inline-block;
    }
    .sndmobs-widget__decision {
        font-size: 12px;
        font-family: "Roboto-Bold", sans-serif;
        margin-bottom: 5px;
    }
    .sndmobs-widget__decision--yes {
        color: #3ACBB2;
    }
    .sndmobs-widget__icon-woman,
    .sndmobs-widget__icon-man{
        width: 6px;
    }
    .sndmobs-widget__progress {
        margin-bottom: 5px;
    }
    .sndmobs-widget__progress-wrap {
        display: inline-block;
        width: 100px;
        height: 6px;
        border-radius: 10px;
        vertical-align: middle;
        position: relative;
    }
    .sndmobs-widget__progress-base {
        display: inline-block;
        width: 100px;
        height: 6px;
        border: 1px solid gray;
        border-radius: 10px;
        position: absolute;
        z-index: 2;
    }
    .sndmobs-widget__progress-total {
        display: inline-block;
        width: 0px;
        height: 4px;
        background-color: #4FBE9C;
        position: absolute;
        top: 1px;
        z-index: 1;
        transition: width 1s ease-in-out;
    }
    .sndmobs-widget__progress-count {
        position: absolute;
        bottom: 100%;
        right: -5px;
        color: white;
        font-size: 9px;
    }
    .sndmobs-widget__progress-people {
        font-family: "Roboto Bold", sans-serif;
        color: white;
        font-size: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .sndmobs-widget__promote {
        display: inline-block;
        height: 26px;
        border: 2px solid white;
        padding: 0 5px;
        font-size: 12px;
        color: white;
        transition: background 0.2s ease;
    }
    .sndmobs-widget__promote:hover {
        background-color: black;
        cursor: pointer;
    }
    .sndmobs-widget__promote-text {
        display: inline-block;
        vertical-align: middle;
    }
    .sndmobs-widget__promote-pic {
        vertical-align: middle;
    }
    .sndmobs-widget__see-details {
        color: white;
        text-decoration: underline;
        font-size: 9px;
        vertical-align: bottom;
        margin-left: 5px;
    }
        .sndmobs-widget__see-details:hover {
            text-decoration: none;
        }
    .sndmobs-widget__would-you {
        color: white;
        font-size: 12px;
    }
    .sndmobs-widget__answer {
        display: inline-block;
        border: 2px solid;
        font-size: 10px;
        padding: 2px 10px;
        transition: opacity 0.3s ease;
    }
    .sndmobs-widget__answer:hover {
        cursor: pointer;
        opacity: 0.8;
    }
        .sndmobs-widget__answer--yes {
            color: #3ACBB2;
            border-color: #3ACBB2;
            font-family: "Roboto-Bold", sans-serif;
        }
        .sndmobs-widget__answer--no {
            color: #EF8C9E;
            border-color: #EF8C9E;
            font-family: "Roboto-Bold", sans-serif;
        }
        .sndmobs-widget__answer--reschedule {
            color: white;
            border-color: white;
        }
    .sndmobs-widget__see-more {
        cursor: pointer;
        color: white;
        font-size: 12px;
        text-decoration: underline;
        margin-left: 25px;
    }
        .sndmobs-widget__see-more:hover {
            text-decoration: none;
        }
.venues-widget {
    float: left;
    width: 32%;
    padding-right: 2%;
}
    .venues-widget__header {
        font-family: "Roboto Bold", sans-serif;
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .venues-widget__details {
        font-family: "Roboto-Thin", sans-serif;
        color: white;
        font-size: 10px;
        margin-bottom: 15px;
    }
    .venues-widget__scene {
        margin-bottom: 10px;
    }
    .venues-widget__item {
        position: relative;
        padding: 5px 10px 5px 30px;
        margin-bottom: 10px;
        background-color: #616161;
    }
        .venues-widget__item:nth-child(1) {
            background-color: #B1AFAF;
        }
        .venues-widget__item:nth-child(2) {
            background-color: #909090;
        }
    .venues-widget__flag {
        position: absolute;
        top: 10px;
        left: 5px;
    }
    .venues-widget__place {
        font-family: "Roboto-Bold", sans-serif;
        color: white;
        font-size: 13px;
    }
    .venues-widget__address {
        font-family: "Roboto-Thin", sans-serif;
        color: white;
        font-size: 10px;
    }
    .venues-widget__more {
        font-size: 12px;
        color: white;
    }
        .venues-widget__more:hover {
            text-decoration: none;
        }

.mus-map-widget {
    float: left;
    width: 68%;
}
    .mus-map-widget__header {
        font-family: "Roboto-Bold", sans-serif;
        color: white;
        font-size: 18px;
    }
    .mus-map-widget__details {
        float: left;
        width: 105px;
        padding-top: 30px;
    }
    .mus-map-widget__detail {
        margin-bottom: 5px;
    }
    .mus-map-widget__color-sample {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
        .mus-map-widget__color-sample--listens {
            background-color: #4FBE9C;
        }
        .mus-map-widget__color-sample--venues {
            background-color: #9A9A9A;
        }
        .mus-map-widget__color-sample--smobs {
            background-color: #9A9A9A;
        }
    .mus-map-widget__detail-text {
        display: inline-block;
        font-family: "Roboto-Thin", sans-serif;
        color: #E8E8E8;
        font-size: 13px;
    }
    .mus-map-widget__totals {
        float: right;
        text-align: right;
    }
    .mus-map-widget__total {
        margin-bottom: 5px;
    }
    .mus-map-widget__count {
        color: #3ACBB2;
        font-size: 15px;
        display: inline-block;
    }
    .mus-map-widget__total-text {
        color: #ffffff;
        font-size: 15px;
        display: inline-block;
    }